target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/encodings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/aws.xml
/ipo-data-scrapper/ipo-data.zip
/ipo-data-scrapper/java/lib/ipo-data-scrapper-1.0-SNAPSHOT.jar
/fetch-data/java/lib/fetch-data-1.0-SNAPSHOT.jar
/ipo-data-scrapper/ipo-data-scrapper.zip
/fetch-data/ipo-fetch-data.zip
/ipo-invest.zip
/java/lib/ipo-invest-1.0-SNAPSHOT-shaded.pom
